# CLIENT_GATEWAY_PORT=3000
CLIENT_GATEWAY_PORT=

# STRIPE_SECRET_KEY https://docs.stripe.com/keys#obtain-api-keys
STRIPE_SECRET_KEY=

# STRIPE_ENDPOINT_SECRET https://docs.stripe.com/webhooks#register-webhook
STRIPE_ENDPOINT_SECRET=

# SUCCESS_URL and CANCEL_URL for redirect after payment
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=